<footer class="container py-6">
  <div class="text-center text-[12px] text-txt-light dark:text-darkmode-txt-light">
    <p>&copy; 2026 Thearium</p>
    <p>An independent field archive</p>
  </div>
</footer>
